
<div id="one" class="p-5 rounded text-center  " style="height: 25em;">
  <h1>This is HRMS Project</h1>
    <q style="margin-left: 20em;size: 24em;">I never dreamed of about success, I worked for it.</q>
  </div>
<h1>About</h1>
<div>
    <div class="count">
      Project
    </div>
</div>
  <div class="row text-center " style="width: 100%;">
  <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
    <div class="member">
      <div class="member-img">
        <img src="../../assets/images/img_avatar1.png" class="img-fluid" alt="">
        <div class="social">
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="member-info">
        <h4>William Anderson</h4>
        <span>CTO</span>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
    <div class="member">
      <div class="member-img">
        <img src="../../assets/images/img_avatar6.png" class="img-fluid" alt="">
        <div class="social">
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="member-info">
        <h4>bhumi</h4>
        <span>CEO</span>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
    <div class="member">
      <div class="member-img">
        <img src="../../assets/images/img_avatar1.png" class="img-fluid" alt="">
        <div class="social">
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="member-info">
        <h4>Ravi</h4>
        <span>Full stack doveloper</span>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
    <div class="member">
      <div class="member-img">
        <img src="../../assets/images/img_avatar1.png" class="img-fluid" alt="">
        <div class="social">
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="member-info">
        <h4>kishon</h4>
        <span>Full stack doveloper</span>
      </div>
    </div>
  </div>
</div>
