  <h1>Employee Form</h1>
    <div class="employeeForm">
        <!--p [ngClass]="[error !=true ? 'success-message': 'error-message'] ">{{message}}</p-->
        <form id="form" FormGroup='registrationForm' (ngsubmit)="submitData()">
            <div class="row">
                <div class="column">
                    <label for="employeeId">Employee Id*</label><br>
                    <input type="text" id="employeeId"   minlength="3" maxlength="6"
                        required placeholder="Enter your Employee Id" >
                </div>
                <div class="column">
                    <label for="firstName">First Name*</label><br>
                    <input type="text" id="firstName" class="Form-control" name = "firstName" value="" maxlength="15" placeholder="Enter your first Name"
                      required >
               </div>
                <div class="column">
                    <label for="lastName">Last Name*</label><br>
                    <input type="text" id="lastName" class="Form-control" maxlength="10" placeholder="Enter your Last Name" required
                        >
                </div>
                <div class="column">
                    <label for="email">Email*</label><br>
                    <input type="email" id="email" class="Form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                        placeholder="Enter your Email" required >
                </div>
                <div class="column">
                    <label for="phoneNumber">Phone Number*</label><br>
                    <input type="tel" id="phoneNumber" class="Form-control" maxlength="10" pattern="[1-9]{1}[0-9]{9}"
                        placeholder="Enter Phone Number" required >
                </div>
                <div class="column">
                    <label for="hireDate">Hire Date*</label><br>
                    <input type="date" id="hireDate" class="Form-control" min="" max="2030-12-10" required>
                </div>
                <div class="column">
                    <label for="salary">Salary*</label><br>
                    <input type="text" id="salary" class="Form-control" maxlength="6" placeholder="Enter salary" required
                        >
                </div>
                <div class="column">
                    <label for="job">Job*</label><br>
                    <select type="text" id="job" type="search">
                        <option value="100">IT_PROG</option>
                        <option value="101">AD_VP</option>
                        <option value="102">FI_MGR</option>
                        <option value="103">FI_ACCOUNT</option>
                    </select>
                </div>
                <div class="column">
                    <label for="commisionPct">Commision Pct*</label><br>
                    <input type="text" id="commisionPct" required step="0.01" placeholder="0.00"
                        >
                </div>
                <div class="column">
                    <label for="manager">Manager Name*</label><br>
                    <select id="manager" required type="search">
                        <option value="cod114">madhu</option>
                        <option value="cod117">Ravi</option>
                        <option value="cod115">raghu</option>
                        <option vaslue="cod118">krishna</option>
                    </select>
                </div>
                <div class="column">
                    <label for="department">Department Name*</label><br>
                    <select id="department" required type="search">
                    </select>
                </div>
            </div>
            <div class="center">
                <button class="btn" type="submit">submit</button>
            </div>
    </form>
    <footer class="footer">about</footer>
