
  <div>Employees</div>
  <div class="input-group mb-3 w-50">
    <span class="input-group-text">Search employee</span>
    <input type="text" class="form-control"  [(ngModel)]="empId" placeholder="Enter EmployeeId" (change)="changeEmpId()">
    <button type="submit" class="btn btn-success" (click)="find()">find</button>
  </div>
  <table class="table table-striped table-responsive-xxl">
      <tr>
          <th scope="col">SI.No</th>
          <th scope="col">EmployeeId</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Email</th>
          <th scope="col">PhoneNumber</th>
          <th scope="col">Hiredate</th>
          <th scope="col">salary</th>
          <th scope="col">JobID</th>
          <th scope="col">DepartmentId</th>
          <th scope="col">ManagerId</th>
          <th scope="col">Action</th>
      </tr>
      <tr *ngFor="let employee of employees; let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{employee.employeeId}}</td>
          <td>{{employee.firstName }}</td>
          <td>{{employee.lastName | lowercase}}</td>
          <td>{{employee.email | lowercase}}</td>
          <td>{{employee.phoneNumber}}</td>
          <td>{{employee.hireDate | date:'fullDate' | uppercase}}</td>
          <td>{{employee.salary}}</td>
          <td>{{employee.jobId}}</td>
          <td>{{employee.managerId}}</td>
          <td>{{employee.departmentId}}</td>
          <td><button class="btn-default">Edit</button></td>
          <td><button class="btn-default">Delete</button></td>
      </tr>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
  </table>
