header{
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color:white;
}
nav{
    float: left;
    width: 30%;
    background: #ccc;
    padding: 20px;
     
  
}

section{
    
    padding: 20px;
    background-color: #f1f1f1;
    width:70% ; 
    float:left;
}
footer{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    
}
@media (max-width: 600px){
    nav,article{
        width: 100%;
        height: auto;
    
    }
}
