*{
	margin: 0px;
}

.menu {
	width: 100%;
	hight: 50px;		
}
.logo {
	padding-top: 10px;
	padding-left: 80px;
}

.log {
	float: right;
	padding-right: 80px;
	padding-top: 15px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}
 form{
	 text-align: center;
	 margin:auto;
	  width: 50%;
	  
 }
 
 

.f1 {
	border: 1px solid black;
	
}
.dob {
	text-align: left;
	margin-left: 25px;
	margin-bottom: 20px;
}