<!DOCTYPE html>
<html>
    <head>
        <style>
            div{
                background-color:black;
                color:white;
                padding:20px;
            }
        </style>
    </head>
    <body>
        <div>
            <h3>hydrabad</h3>
            <p>it is the capital telagana, it is one of most populour city in india.</p>
        </div>
        
<h1>The span element</h1>

<p>My mother has <span style="color:blue;font-weight:bold">blue</span> eyes and my father has <span style="color:rgba(11, 122, 7, 0.918);font-weight:bold">dark green</span> eyes.</p>
    </body>
</html>