<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   </head>
   <body>
    <div class="topnav"> 
        <a class="active" routerLink="/home">Home</a>
        <a routerLink="/createemployee">Create Employee</a>
        <a routerLink="/viewemployee">View Employee</a>
        <a routerLink="/editemployee">Edit Employee</a>
        <a routerLink="/login">login</a>
        <a routerLink="/test">test</a>
    </div> 
    <router-outlet></router-outlet>
  </body>  
</html>