<!DOCTYPE html>
<html>
   <head>
        
   </head>
   <body>
    <div class="topnav">
        <!-- <a class="active" href="#home">Home</a>
        <a href="createemployee.html">Create Employee</a>
        <a href="viewemployees.html">View Employee</a>
        <a href="editemployee.html">Edit Employee</a> -->
        <a class="active" href="#home">Home</a>
        <a routerLink="/createemployee">Create Employee</a>
        <a routerLink="/viewemployee">View Employee</a>
        <a routerLink="/editemployee">Edit Employee</a>
        <a routerLink="/login">login</a>
    </div> 
    <router-outlet></router-outlet>
<!-- <app-home></app-home>
<app-employee></app-employee> -->
  </body>  
</html>